<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="style/main.css" rel="stylesheet" />
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="../js/timer.js" defer></script>
    <title>Node & Magic</title>
</head>
<body>
    <header>
<%- include('partials/nav') %>
    </header>
    <%- include('partials/carousel') %>
 <%- include('partials/feature1') %>
  <%- include('partials/divider') %>
   <%- include('partials/feature2') %>
    <footer>
    <%- include('partials/footer') %>
    </footer>
</body>
</html>