<!DOCTYPE html>
<html lang="en">
    <%- include('partials/modernhead') %>
<body>
    <header>
    <%- include('partials/modernnav') %>
    </header>
    <%- include('partials/carousel') %>
        <%- include('partials/mainmodern') %>
    <footer>
    <%- include('partials/footer') %>
    </footer>
</body>
</html>