<!DOCTYPE html>
<html lang="en">
    <%- include('partials/vintagehead') %>
<body>
    <header>
    <%- include('partials/vintagenav') %>
    </header>
    <%- include('partials/vintagecarousel') %>
    <%- include('partials/mainvintage') %>
    <footer>
    <%- include('partials/footer') %>
    </footer>
</body>
</html>