<!DOCTYPE html>
<html lang="en">
<%- include('../partials/newsandcommanderhead') %>
<body>
    <header>
<%- include('../partials/newsandcommandernav') %>
    </header>
    <%- include('../partials/carousel') %>
       <!-- IF STATEMENTS & Content-->
<%- include('../partials/newsandcommandercontent') %>
    <footer>
    <%- include('../partials/footer') %>
    </footer>
</body>
</html>